@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body,
header {
    min-width: 300px;
}

:root {
    --main-color-one: #C08D5D;
    --text-color-one: #3F4042;
    --header-text-color: #000000;
    --header-background-color: #FFFAF3;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.scroll__box {
    width: 4px;
    height: 4px;
    background-color: var(--main-color-one);
    border-radius: 50%;
}

header {
    width: 100%;
    height: 100vh;
}

.header__container {
    margin: 60px;
}

.header__top {
    position: relative;
    width: 100%;
    height: 59px;
    z-index: 10;
}

.header__nav-icon {
    position: absolute;
    top: 0;
    left: 0;
}

.header__nav-icon img {
    width: 26px;
    height: 26px;
}

.header__nav-menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0;
    margin-left: auto;
    left: 50%;
    top: -17px;
    transform: translateX(-50%);
}

.header__nav {
    display: flex;
    flex-direction: row;
    width: 300px;
}

.header__icon {
    margin-left: 98px;
    margin-right: 98px;
}

.header__icon img {
    width: 38.64px;
    height: 59px;
}

.header__nav-link a {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: var(--header-text-color);
    transition: .5s;
}

.header__nav--right .header__nav-link {
    margin-right: 45px;
}

.header__nav--left .header__nav-link {
    margin-left: 45px;
}

.header__text {
    background-color: var(--header-background-color);
    margin-top: 100px;
    padding: 81px 120px;
    position: relative;
}

.header__text::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 128px;
    width: 90%;
    transform: translateY(100%) translateX(5%);

    background: rgba(192, 141, 93, 0.3);
    filter: blur(100px);
    z-index: -1;
}

.header__bottom {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    height: 44px;
    width: 22.53px;
}


.header__bottom .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll__box {
    margin-bottom: 3px;
}

.scroll__img {
    margin-top: 3px;
}

h4 {
    font-weight: bold;
    font-size: 50px;
    line-height: 67px;
    font-family: Playfair Display;
    letter-spacing: 0.06em;
    color: var(--text-color-one);
}

h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 93px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-color-one);
}

.header__title-top {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.title__logo {
    margin-left: 14px;
    width: 45.21px;
    height: 69.04px;
}

.title__decor {
    margin-top: 20px;
}

.header__title {
    margin-bottom: 26px;
}

.header__info p {
    width: 535px;
    font-weight: normal;
    font-size: 18px;
    line-height: 147.6%;
    /* or 27px */

    letter-spacing: 0.06em;

    color: var(--text-color-one);
}

.header__info {
    margin-bottom: 72px;
}

.header__more {

    width: 197px;
    height: 64px;
    border: 3px solid var(--main-color-one);

    display: flex;
    flex-direction: row;
}

.button__arrow,
.button__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 60px;
}

.button__box {
    width: 138px;

    font-weight: normal;
    font-size: 20px;
    line-height: 147.6%;
    /* identical to box height, or 30px */

    letter-spacing: 0.06em;

    color: var(--text-color-one);
}

.button__arrow {
    width: 60px;
    margin-top: -1px;
    margin-right: -1px;
    background: var(--main-color-one);
}

.header__pic {
    position: absolute;
    top: 0;
    right: 25px;
    z-index: 5;
}

.header__nav-link a:hover {
    color: var(--main-color-one);
}

/*start media*/
@media (max-width: 1320px) {

    .header__pic,
    .header__pic img {
        width: 560px;
        height: auto;
    }

}

@media (max-width: 1260px) {

    .header__pic,
    .header__pic img {
        width: 500px;
        height: auto;
    }

    .header__nav-link a {
        font-size: 18px;
    }

    .header__nav--right .header__nav-link {
        margin-right: 30px;
    }

    .header__nav--left .header__nav-link {
        margin-left: 30px;
    }

    .header__icon {
        margin-left: 20px;
        margin-right: 60px;
    }

    .header__info p {
        width: 435px;

    }
}


@media (max-width: 1044px) {

    .header__pic,
    .header__pic img {
        width: 400px;
        height: auto;
    }

    .header__nav-link a {
        font-size: 16px;
    }

    .header__nav--right .header__nav-link {
        margin-right: 20px;
    }

    .header__nav--left .header__nav-link {
        margin-left: 20px;
    }

    .header__icon {
        margin-left: -60px;
        margin-right: 30px;
    }

}

@media (max-width: 850px) {
    h1 {
        font-size: 50px;
        line-height: 60px;
    }
    h4 {
        font-size: 30px;
        line-height: 45px;
    }
}